#RootLoggin {
    height: 70;
    width: 60%;
    font-family: Circular,Helvetica,Arial,sans-serif;
    margin: 10;
    padding: 50px;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    background: linear-gradient(145deg, rgb(195, 240, 200), rgb(80, 155, 245));
   
    border-radius: 1rem;
    border-radius: 5px;
    transform: translateX(250px);
  }

  
 #RootAsistencia {
   height: auto;
   min-width: auto;
   font-family: Circular, Helvetica, Arial, sans-serif;
   margin: 10px;
   padding: 50px;
   text-align: center;
   box-sizing: border-box;
   justify-content: center;
  /*background: linear-gradient(145deg, rgb(195, 240, 200), rgb(80, 155, 245));*/
   border-radius: 1rem;
   border-radius: 5px;
   
  
 }

 #cargarlista {
   background-color: #00939C;

 }



 a {
   color: inherit;
   text-decoration: inherit;
 }

.menu{
    transform: translateX(-20px);
}
 
  
  .menu ul li { display: inline; }
  
  .menu ul {
    list-style:none;
  }
  
  .menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 2px solid transparent;
  }
  
  .menu ul li a:hover {
    border-bottom: 2px solid #C0F0BE;
  }
  
  .header { 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    color: #fff;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-weight: 900;
    max-width: 100%;
    width: auto;
    display: inline-block;
    font-size: 2rem;
    padding-left: 6px;
  }

  .TituloP{
    color: black;
      line-height: 1.2;
      margin: 0;
      margin-bottom: 2rem;
      padding: 0;
      font-weight: 900;
      max-width: 100%;
      width: auto;
      display: inline-block;
      font-size: 3rem;
      padding-left: 6px;
  }
    .titleBlack {
      color: black;
      line-height: 1.2;
      margin: 0;
      padding: 0;
      font-weight: 900;
      max-width: 100%;
      width: auto;
      display: inline-block;
      font-size: 2rem;
      padding-left: 6px;
    }

  
  .input {
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 1px;
    min-width: 160px;
  }
  
  .input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
  }
  
  .button {
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 1px;
    min-width: 256px;
    background-color: #F9A825;
    color: #fff;
  }
  
  .stay {
    color: #fff;
    font-size: 0.825rem;
    
  }
  
  .row {
    margin: 16px 0;
  }
  
  .forgot {
    color: #fff;
    text-align: center;
    font-size: 0.825rem;
    letter-spacing: 0.5px;
    margin: 16px 0;
  }

  #Constancia{
    background-color: #F9A825;
    width: 60%;
    height: 100%;
    border-radius: 30px;
  }
  
  #Asistencia {
    background-color: #00EBF7;
    width: 60%;
    height: 100%;
    border-radius: 30px;
  }
  
  #Matricula {
    background-color: #7FEB94;
    width: 60%;
    height: 100%;
    border-radius: 30px;
  }

  #RegistrarFuncionarios{
    background-color: #B78DE6;
    width: 60%;
    height: 100%;
    border-radius: 30px;
  }

  #inputtext,#fnacimiento{
    width: 150px;
  }
  #divisor{
    width: 58%;
    transform: translateX(220px);
  }

  #rootprofesores,#Reportes,#ReportesComedor,#Constacias{
    height: auto;
    min-width: auto;
    font-family: Circular,Helvetica,Arial,sans-serif;
    margin: 10;
    padding: 50px;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 1rem;
    border-radius: 5px;
  }

  #rootacademico {
      height: auto;
      min-width: auto;
      font-family: Circular, Helvetica, Arial, sans-serif;
      margin: 10;
      padding: 50px;
      text-align: center;
      box-sizing: border-box;
      justify-content: center;
      border-radius: 1rem;
      border-radius: 5px;
  }

  #demo-button .template {
    
    background-color:transparent;
    border-color: transparent;
  }
  #demo-button{
    border-color: transparent;
  }
  #Buscar2 {
    height: 45px;
    background: linear-gradient(to left, var(--blue-200) 50%, var(--blue-300) 50%);
    background-size: 200% 100%;
    font-family: Circular, Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 15px;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #000;
    border-color: var(--blue-300);
    
}
#Buscar2:hover {
    background-position: left bottom;
}
#Buscar2:focus {
    box-shadow: 0 0 0 1px var(--blue-400);
}




/*----------------------------CSS de la pagina constancia----------------------------------*/

.inputE{
  border-radius: 7px;
  border-color: #f0f0f0;
  height: 50px;
  width: 20%;
}

.lbl_Escuela{
  margin-left: 3px;
  font-size: 20px;
}

.Regional{
  margin-left: 36%;
  margin-top: -5.5%;
 transform: translateY(-30px);
}

.inputR{
  border-radius: 7px;
  border-color: #f0f0f0;
  height: 50px;
  width: 30%;
}

.Circuito{
  margin-left: 70%;
  margin-top: -5.5%;
  transform: translateY(-58px);
}

.inputC{
  border-radius: 7px;
  border-color: #f0f0f0;
  height: 50px;
  width: 60%;
}

/*---------------------------CSS reportes-------------------------------*/


#Reporte{
  background-color: #F1948A;
  width: 60%;
  height: 100%;
  border-radius: 30px;
}

/*---------------------------CSS reportes comedor-------------------------------*/
#ReporteComedor{
  background-color: #21618c;
  width: 60%;
  border-radius: 30px;
  height: 100%;
}