body {
    background-image: url("../src/Recursos/OIP.jfif");
    background-size: 1500px 1000px;;
   
  }


.Div{
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  opacity:1;
    
}

@font-face {
  font-family:Vintage ;
  src: url("../src/Recursos/Blueberry\ .ttf");
}


.button_Matricula{
  margin-left: 1px;
  border-radius: 15px;
  background-color:  #efaffc;
  font-family: Vintage;
  font-weight: 900;
  font-size: 15px;
  height:50px;
  width: 150px;
}

.button_Matricula:hover{
  background-color:#ce789b;
 color: black;
}

.button_Siguiente{
  margin-left: 1px;
  border-radius: 15px;
  background-color:  #efaffc;
  font-family: Vintage;
  font-weight: 900;
  font-size: 15px;
  height:50px;
  width: 150px;
}


.button_Siguiente:hover{
  background-color:#ce789b;
 color: black;
}

.Matricula{
  margin-left: 1px;
  border-radius: 15px;
  background-color:  #efaffc;
  font-family: Vintage;
  font-weight: 900;
  font-size: 15px;
  height:50px;
  width: 150px;
}


.Matricula:hover{
  background-color:#ce789b;
 color: black;
}

.Tabla{
  text-align: center;
  padding: 1rem;
  justify-content: center;
  margin: auto;
  padding: 0 1rem;
  height: auto;
  width: auto;
}

h1{
  font-family: Vintage ;
}

.toast-demo button {
  min-width: 10rem;
  margin-right: .5rem;
}

@media screen and (max-width: 960px) {
  .toast-demo button {
      width: 100%;
      margin-bottom: .5rem;
  }
}